body {
    background: #fff;
    font-family: sans-serif;
    font-size: 14px;
    color: #000;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
* {
    margin: 0;
}
.invoice {
    max-width: 900px;
    padding: 40px;
    margin: 50px auto;
}
.doctype {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    color: rgba(0, 0, 0, 0.2);
}
.logo {
    width: 260px;
    margin: 0 auto 30px;
}
.invoice__header p {
    text-align: center;
}
.invoice__header img {
    margin: 0 auto 15px;
}
.logo__text {
    width: 230px;
    text-align: center;
    margin: 0 auto;
}
.logo__name {
    font-size: 15px;
    text-transform: uppercase;
}
.logo__addr {
    font-size: 15px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}
.invoice__content {
    color: rgba(0, 0, 0, 0.6);
}
.invoice__item {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.invoice__sign {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.invoice__data {
    font-size: 18px;
}
.repeater__row__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px 0;
}
.repeater__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px 0;
}
.font-weight-bold {
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0;
}
.repeater__task {
    width: 40%;
}
.repeater__hours {
    width: 10%;
}
.repeater__rate,
.repeater__total {
    width: 25%;
}
.repeater__title {
    font-size: 16px;
    margin-bottom: 5px;
}
.repeater__total {
    text-align: right;
}
.total {
    text-align: right;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.total__subtitle {
    text-transform: uppercase;
    margin-bottom: 5px;
}
.total__cost {
    font-size: 24px;
}
.signature {
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.signature__sign {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.signature__name {
    font-weight: 700;
}
.profile__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.7);
}
.profile__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.profile__close:before,
.profile__close:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    transition: all 0.3s ease;
}
.profile__close:before {
    transform: translateY(10px) rotate(45deg);
}
.profile__close:after {
    transform: translateY(10px) rotate(-45deg);
}
.profile__close:hover:before,
.profile__close:hover:after  {
    background: rgba(0, 0, 0, 0.5);
}
.profile {
    color: #fff;
    width: 600px;
    padding: 40px 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.profile__ava {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    margin-bottom: 30px;
}
.profile__name {
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
}
.profile__city {
    font-size: 18px;
    margin-bottom: 12px;
    color: #fff;
    text-decoration: none;
}
.profile__follow {
    padding: 8px 15px;
    color:rgba(0, 0, 0, 0.5);
    background: #fff;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
}
.profile__data {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    background: rgba(0, 0, 0, 0.5);
}
.profile__text {
    margin-top: 10px;
}
.profile__info:nth-child(2) {
    text-align: center;
}
.profile__info:last-child {
    text-align: right;
}
.popap,
button {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: bold;
    margin: 40px auto;
    text-decoration: none;
    transition: all 0.3s ease;
    background: transparent;
}
.popap:hover,
button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
}
.buttons {
    display: flex;
    justify-content: center;
}
button {
    margin: 0;
}
#download-invoice {
    margin-right: 20px;
}